$main-blue: #002F63;
$dark-blue:#00234A;
$light-blue: #5FAAF2;
$purple: #37255E;
$white: #ffffff;
$black: #000000;
$gold: #E7AF5B;
$grey: #F4F6F8;
$teal: #328879;
$red: #C9121F;

// @include media-breakpoint-up(md) {}

// @include media-breakpoint-up(lg) {}